#thumbnails{
  position: absolute;
  
  margin-top:300px;
  width:100%;
  }
  #thumbnails img{
  width:100px;
  margin-left:50px;
   cursor:pointer;
  }
  #slider img{
  width:250px;
  position: absolute;
  transition:1s;
  opacity:0;
  margin-left: 124px;
  }
  #slider .active{
    opacity:1;
    transition:3s;
  }
  #sliderBox{
    position: relative;
  }
  